[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "combinedevents"]
	path = combinedevents
	url = https://github.com/katie-frank/combinedevents
